// src/ItemCard.scss
.item-card {
    display: flex;
    width: 400px;
    height: 100px;
    background-color: rgba(226, 222, 215, 0.756);
    border-radius: 20px;
    .item-card__image{
        flex: 0.33;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .item-card__details{

    }
  }
  